* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div#preload { display: none; }

body {
    /* Location of the image */
    background-image: url(img/bg.png);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: black;
}

body,
select,
button {
    font-family: 'Alegreya Sans SC';
}

header {
    width: 90%;
    margin: auto;
    align-items: center;
}

div {
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.logo-container,
.nav-links {
    justify-content: space-around;
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 10px;
    max-width: 250px;
}

nav {
    flex: 1;
}

.nav-container {
    margin: 10px;
    display: none;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
}

.banner-container {
    display: flex;
}

.responsive {
    width: 100%;
    height: auto;
}

.banner {
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.rates {
    max-width: 700px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.animation {
    animation: drop 1s ease;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

select {
    width: 700px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0;
    background-color: #e5191c;
    border: none;
    border-bottom: 4px solid black;
    color: white;
    padding: 10px;
    padding-right: 38px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Adding transition effect */
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}
/* For IE <= 11 */
select::-ms-expand {
    display: none; 
}
select:hover,
select:focus {
    color: whitesmoke;
    background-color: black;
    border-bottom-color: #e5191c;
}

.banner-buttons {
    display: flex;
    max-width: 600px;
    margin-top: 5px;
}

.btn-gacha {
	box-shadow:inset 0px 50px 40px 0px #e5191d;
	background-color:#e5191d;
	border-radius:6px;
    border:2px none black;
    border-bottom: 4px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-size:18px;
    width: 180px;
    height: 50px;
    text-decoration:none;
}
.btn-gacha:hover {
	background-color:black;
}
.btn-gacha:active {
	position:relative;
	top:5px;
}
.btn-gacha:focus {
    outline: 0px;
}

#btn-single {
    width:
}

#div-pull-multi {
    display: none;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    padding: 10px;
    opacity: 0;
}

.pull-img {
    width: 150px;
    height: auto;
    padding: 3px;
}

#pull10 {
    width: 180px;
}

footer {
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}