* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
select,
button {
    font-family: 'Alegreya Sans SC';
}

header {
    width: 90%;
    margin: auto;
    align-items: center;
}

div {
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.logo-container,
.nav-links {
    justify-content: space-around;
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 10px;
    max-width: 250px;
}

nav {
    flex: 1;
}

.nav-container {
    margin: 10px;
    display: none;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
}

.banner-container {
    display: flex;
}

.responsive {
    width: 100%;
    height: auto;
}

.banner {
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
}

.animation {
    animation: drop 1s ease;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

select {
    width: 700px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0;
    background-color: #e5191c;
    border: none;
    border-bottom: 4px solid black;
    color: white;
    padding: 10px;
    padding-right: 38px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Adding transition effect */
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}
/* For IE <= 11 */
select::-ms-expand {
    display: none; 
}
select:hover,
select:focus {
    color: whitesmoke;
    background-color: black;
    border-bottom-color: #e5191c;
}

.btn-gacha {
	box-shadow:inset 0px 50px 40px 0px #e5191d;
	background-color:#e5191d;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-size:20px;
    width: 350px;
    height: 50px;
	text-decoration:none;
}
.btn-gacha:hover {
	background-color:black;
}
.btn-gacha:active {
	position:relative;
	top:5px;
}
.btn-gacha:focus {
    outline: 0px;
}

.pull-img {
    width: 150px;
}